@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@font-face {
  font-family: mogihaPen;
  src: url(font/mogihaPen.ttf);
}

:root {
  --x-color: #0d9488;
  --o-color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

#head-title {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Kalam", cursive;
  font-size: 72px;
  margin: 0px;
  line-height: 1em;
}

h3 {
  font-family: mogihaPen;
  font-size: 35px;
  color: black;
  text-align: center;
}

h3 > b {
  color: var(--x-color);
}

h3 > b:nth-child(2) {
  color: var(--o-color);
}

#selection {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-inst {
  font-family: "Kalam", cursive;
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: #0e7490;
}

.cat-inst.ani {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid pink; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: pink;
  }
}

.cat-mark {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  height: 230px;
  width: 250px;
}

.cat-mark.o {
  background-image: url(imgs/catO.png);
}

.cat-mark.x {
  background-image: url(imgs/catX.png);
}

#start {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: whitesmoke;
  border: solid 3px black;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: 0.2s;
  cursor: pointer;
}

#start:hover {
  opacity: 1;
  border: solid 3px orangered;
}

#cat-foot {
  margin-left: 5px;
  width: 22px;
  pointer-events: none;
}

#board-container {
  margin-top: 5vh;
  display: none;
  justify-content: center;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 145px;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  line-height: 135px;
  font-family: 'Finger Paint', cursive;
}

.box.o {
  color: var(--o-color);
}

.box.x {
  color: var(--x-color);
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6) ~ .box {
  border-bottom: none;
}
